<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <base href="/">
    <title>Blog App</title>
  </head>
  <body>
    <% include navbar %>
